
#principal li {
display:inline;
float:left;
width:220px;
height : 110px;
background-color:#f5f7f9;
padding:5px;
margin:10px;
text-align: center;
border-right: #a5a7aa solid 1px;
border-bottom: #a5a7aa solid 1px;
}

#img {
width:120px;
height : 90px;
}